@media screen and (min-width: 40em) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
}

.container-logo__logo {
  width: 36.5px;
  height: 36.5px;
}

.header__logo-text {
  font-size: 2rem;
}

.header__menu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__link {
  display: block;
  color: white;
  text-decoration: none;
  transition: color 0.5s ease;
}

.header__link:hover {
  color: var(--button-bg-color);
}