.poster__placeholder {
  display: block;
  max-width: 300px;
  aspect-ratio: 2 / 3;
  border-radius: var(--poster-radius);
  background-color: var(--primary-bg-color);
  margin-bottom: 30px;
  width: 100%;
  @media screen and (min-width: 978px) {
    margin-right: 30px;
  }
}

.player__placeholder {
  width: 100%;
  background-color: black;
  aspect-ratio: 16/9;
}

.player__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 840px;
  flex: 1 640px;
}

.screen__wrapper {
  justify-content: center;
	display: flex;
	flex-wrap: wrap;
}