body {
  margin: 0;
  /* max-width: 100vw; */
  overflow: hidden;
  
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

:root {
  --main-bg-color: #070717;
  --button-bg-color: #fdd10f;
  --badge-bg-color: #FCCD00;
  --secondary-color: #7b7a8f;

  --primary-color: #7e79ff;
  /* --dark-color: #797979; */
  --dark-color: hsla(0,0%,100%,.72);
  --hover-bg-color: #440097;
  --second-bg-color: #1f1b2e;
  --primary-bg-color: rgba(255, 255, 255, .08);
  --dots-bg-color: #e4e4e3;
  --dots-hover-bg-color: #404040;
}

:root {
  --silver-08: #7e798f;
  --silver-06: #312b45;
  --silver-05: #231f34;
}

:root {
  --filter-color: var(--second-bg-color);

  --color-second: var(--silver-06);
  --color-second-hover: var(--silver-05);
  --color-second-inactive: var(--silver-08);
}

:root {
  /* --lg: 1.7rem; */
  --lg: 27px;
  --sm: 1rem;
}

:root {
  --main-max-width: 1048px;
  --carousel-button-width: 48px;
  --carousel-middle-button-width: 40px;
  --carousel-min-button-width: 36px;
  --header-height: calc(var(--lg) * 2 + 32px)
}

:root {
  --backdrop-radius: 5px;
  --poster-radius: 8px;
}


body {
  background-color: var(--main-bg-color);
  color: white;
}

h2 {
  margin: 0px;
  font-size: 2em;
}

nav li {
  margin-left: 5px;
}

nav li:first-of-type {
  margin: 0px;
}

.block--ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.padding-vertical {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-horizontal {
  padding-left: 8px;
  padding-right: 8px;
}

.padding-top {
  padding-top: 12px;
}

@media (min-width: 1101px) {

  .padding-horizontal {
    padding-left: 12px;
    padding-right: 12px;
  }
  .padding-vertical {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .padding-top {
    padding-top: 12px;
  }
}

.padding-vertical--lg {
  padding-top: var(--lg);
  padding-bottom: var(--lg);
}

.padding-vertical--md {
  padding-top: var(--md);
  padding-bottom: var(--md);
}

.padding--sm {
  padding: var(--sm);
}

.transition--sm {
  transition: color 0.5s ease;
}


/* 
 */


.main__slide {
  max-width: 516px;
  box-sizing: border-box;
  flex: 0 0 100%;
  min-width: 0;
}

@media (min-width: 400px) {
  .main__slide {
    flex: 0 0 calc(100% - 40px);
    min-width: 0;
  }
}

@media (min-width: 517px) {
  .main__slide {
    flex: 0 0 calc(50% - 20px);
  }
}

@media (min-width: 1101px) {
  .main__slide {
    max-width: 524px;
  }
}

.main__slide__placeholder-content {
  aspect-ratio: 500 / 281; 
  height: 100%;
  max-height: 281px;
  background-color: var(--primary-bg-color);
  border-radius: var(--backdrop-radius);
}

.main-carousel__container {
  display: flex;
}

.main-carousel__placeholder {
  display: flex;
  max-width: 1048px;
}

.main-carousel__slide-container-placeholder {
  max-width: 516px;
  box-sizing: border-box;
  flex: 0 0 100%;
  min-width: 0;
}

@media (min-width: 400px) {
  .main-carousel__placeholder {
    margin: 0 20px;
  }
}

@media (min-width: 1088px) {
  .main-carousel__placeholder {
    margin: 0 auto;
  }
}

@media (min-width: 517px) {
  .main-carousel__slide-container-placeholder {
    flex: 0 0 50%;
    max-width: 524px;
  }
}

.media-carousel-placeholder__header-placeholder {
  height: 32px;
  margin: 27px 0;
  background-color: var(--primary-bg-color);
}

.media-carousel-placeholder__container {
  display: flex;
  overflow: hidden;
}

.layout__placeholder {
  max-width: 1048px;
}

@media (min-width: 400px) {
  .layout__placeholder {
    margin: 0 20px;
  }
}

@media (min-width: 1088px) {
  .layout__placeholder {
    margin: 0 auto;
  }
}

.media_carousel__wrapper {
  overflow: hidden;
}

.media__slide__placeholder-content {
  aspect-ratio: 2 / 3;
  background-color: var(--primary-bg-color);
  max-width: 200px;
  border-radius: var(--poster-radius);
}

.media-carousel__slide-container-placeholder {
  box-sizing: border-box;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
}

/* @media (min-width: 472px) { */
@media (min-width: 420px) {
  .media-carousel__slide-container-placeholder {
    flex: 0 0 33.4%;
  }
}

/* @media (min-width: 688px) { */
@media (min-width: 620px) {
  .media-carousel__slide-container-placeholder {
    flex: 0 0 25.1%;
  }
}

/* @media (min-width: 904px) { */
@media (min-width: 820px) {
  .media-carousel__slide-container-placeholder {
    flex: 0 0 20.1%;
  }
}

@media (min-width: 1018px) {
  .media-carousel__slide-container-placeholder {
    flex: 0 0 16.7%;
  }
}

.title__placeholder {
  height: 15px;
	width: 90%;
	border-radius: 5px;
  margin-top: 5px;
	background-color: var(--primary-bg-color);
}

.date__placeholder {
  height: 14px;
	width: 75%;
	border-radius: 4px;
  margin-top: 3px;
	background-color: var(--primary-bg-color);
}

.poster__description-container-placeholder {
  height: 37px;
}



/*  */
.main {
  flex: 0 0 auto;
}

.containerApp {
  display: flex;
  flex-direction: column;
  min-height: 101vh;
}
