body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Montserrat, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-bg-color: #070717;
  --button-bg-color: #fdd10f;
  --bage-bg-color: #FCCD00;
  --secondary-color: #7b7a8f;
  --primary-color: #7e79ff;
  --dark-color: #797979;
  --hover-bg-color: #440097;
  --second-bg-color: #110e15;
  --primory-bg-color: rgba(255, 255, 255, .08);
  --dots-bg-color: #e4e4e3;
  --dots-hover-bg-color: #404040;

}


:root {
  --main-max-width: 1048px;
  --carousel-button-width: 48px;
  --carousel-midle-button-width: 40px;
  --carousel-min-button-width: 36px;
}

:root {
  --backdrop-radius: 5px;
  --poster-redius: 8px;
}


body {
  background-color: var(--main-bg-color);
  color: white;
}

h2 {
  margin: 0px;
  font-size: 2em;
}

nav li {
  margin-left: 5px;
}

nav li:first-of-type {
  margin: 0px;
}

.block--ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.padding-vertical {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-horizontal {
  padding-left: 8px;
  padding-right: 8px;
}

.padding-top {
  padding-top: 12px;
}

@media screen and (min-width: 1101px) {

  .padding-horizontal {
    padding-left: 12px;
    padding-right: 12px;
  }
  .padding-vertical {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .padding-top {
    padding-top: 12px;
  }
}
